Мы создаем простое CRM приложение для двух сотрудников, которые создают отчеты, хранят файлы. Планируется обработка входящих заявок + страница с заявками.
Когда пишешь код будь на 100% уверен, что не ломаешь ничего существующего.

; У меня есть сайт. Придумай как правильно сделать заявки. Суть в том что клиенты будут оставлять заявки в телеграмм боте(он уже есть), либо на сайте. Далее внутри на сайте куда есть доступ только у инженера, будет страница с заявками. И вот как лучше все это организовать? У заявки должен быть тип(ТО, ПНР, Аварийный вызов, "Другое"), объект(адрес), дата(когда была создана заявка), комментарий(не обязательно), контакт клиента, статус(не начато, присвоена(и кому), завершено). Только на странице заявки самое не нужно все это отображать, там они должны просто краткую инфу и все. А когда уже открываешь ее, то там уже все расписано а также есть кнопка "создать отчет", будет перебрасывать на страницу новый отчет, автоматически будет подставляться адрес, дата и тип. А потом когда создашь, то они будут связаны друг с другом. То есть потом заявка будет как завершенная и можно будет нажать посмотреть отчет. Тебя перебрасывает на страницу отчетов и открывается конкретно по этой заявке