.highlight-card > .card {
  animation: highlight-pulse 1s ease-in-out 5, highlight-fade 1s ease-out 5s forwards;
}

@keyframes highlight-pulse {
  0%, 100% {
    background-color: #2dbe64;
  }
  50% {
    background-color: #9edeb6;
  }
}

@keyframes highlight-fade {
  0% {
    background-color: #2dbe64;
  }
  100% {
    background-color: white;
  }
}
