
@font-face {
    font-family: 'Villula';
    src: url('../public/assets/fonts/Villula-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: url('../public/assets/fonts/Play-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../public/assets/fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    font-family: 'OpenSans', 'Play', sans-serif;
    font-size: 20px;
    background-color: #e8e8e8;
    color: #333333;
}

.custom-file-input-wrapper {
    position: relative;
    display: inline-block;
}
  
.custom-file-input-wrapper .btn {
    position: relative;
    z-index: 1;
}
