@font-face {
  font-family: 'Villula';
  src: url('/assets/fonts/Villula-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Villula', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}
